:root{
    /* 1rem is gonna be 10px in size*/
    font-size: 62.5%;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline: 0;
}


.App{
    text-align: center;
    width: 100vw;
    height: 100vh;
}

.Picture{
    margin: 1rem;
}

.Board{
    width: 30vw;
    height: 50rem;
    border: .2rem solid #000;
    background-color: #000;
}